<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,435},{88,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,46}</string>
			</dict>
			<key>game/bg_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{205,255}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,255}</string>
			</dict>
			<key>game/bg_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,614},{92,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,118}</string>
			</dict>
			<key>game/fairy_1024_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,848},{81,99}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>
			<key>game/fairy_1024_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,852},{82,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,102}</string>
			</dict>
			<key>game/fairy_1024_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,258},{82,96}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,99}</string>
			</dict>
			<key>game/fairy_1024_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,356},{80,98}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,101}</string>
			</dict>
			<key>game/fairy_1024_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,258},{81,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,101}</string>
			</dict>
			<key>game/fairy_1024_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,852},{81,100}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>
			<key>game/fairy_1024_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,359},{81,99}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>
			<key>game/fairy_1024_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,589},{79,99}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,101}</string>
			</dict>
			<key>game/fairy_128_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,649},{68,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,84}</string>
			</dict>
			<key>game/fairy_128_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,566},{69,81}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,83}</string>
			</dict>
			<key>game/fairy_128_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,943},{70,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,82}</string>
			</dict>
			<key>game/fairy_128_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,483},{73,81}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,84}</string>
			</dict>
			<key>game/fairy_16_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,819},{61,56}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,60}</string>
			</dict>
			<key>game/fairy_16_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,759},{61,58}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,60}</string>
			</dict>
			<key>game/fairy_16_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,934},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,57}</string>
			</dict>
			<key>game/fairy_16_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,877},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,59}</string>
			</dict>
			<key>game/fairy_2048_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,734},{91,118}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,122}</string>
			</dict>
			<key>game/fairy_2048_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,614},{80,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,112}</string>
			</dict>
			<key>game/fairy_2048_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,734},{91,116}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,120}</string>
			</dict>
			<key>game/fairy_2048_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,378},{97,115}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,117}</string>
			</dict>
			<key>game/fairy_2048_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,854},{91,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,120}</string>
			</dict>
			<key>game/fairy_2048_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,614},{89,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,114}</string>
			</dict>
			<key>game/fairy_2048_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,258},{97,118}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,121}</string>
			</dict>
			<key>game/fairy_2048_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,495},{93,117}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,119}</string>
			</dict>
			<key>game/fairy_256_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,576},{70,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,103}</string>
			</dict>
			<key>game/fairy_256_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,337},{70,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,99}</string>
			</dict>
			<key>game/fairy_256_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1},{71,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,97}</string>
			</dict>
			<key>game/fairy_256_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,690},{78,97}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,101}</string>
			</dict>
			<key>game/fairy_256_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,676},{70,98}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,101}</string>
			</dict>
			<key>game/fairy_256_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,101},{70,97}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,100}</string>
			</dict>
			<key>game/fairy_256_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,843},{70,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,101}</string>
			</dict>
			<key>game/fairy_256_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,1},{70,98}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,101}</string>
			</dict>
			<key>game/fairy_2_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,817},{35,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,33}</string>
			</dict>
			<key>game/fairy_2_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,817},{39,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,29}</string>
			</dict>
			<key>game/fairy_2_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,733},{32,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,39}</string>
			</dict>
			<key>game/fairy_2_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,460},{35,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,32}</string>
			</dict>
			<key>game/fairy_32_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,552},{68,66}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,68}</string>
			</dict>
			<key>game/fairy_32_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,483},{69,67}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>game/fairy_32_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,774},{71,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,68}</string>
			</dict>
			<key>game/fairy_32_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,776},{72,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>game/fairy_4_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1},{46,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,44}</string>
			</dict>
			<key>game/fairy_4_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,456},{50,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,37}</string>
			</dict>
			<key>game/fairy_4_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,175},{40,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,48}</string>
			</dict>
			<key>game/fairy_4_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,47},{46,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,43}</string>
			</dict>
			<key>game/fairy_512_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,98},{71,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,100}</string>
			</dict>
			<key>game/fairy_512_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,848},{81,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,96}</string>
			</dict>
			<key>game/fairy_512_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,724},{89,91}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>game/fairy_512_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,495},{94,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,97}</string>
			</dict>
			<key>game/fairy_512_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,240},{71,95}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,99}</string>
			</dict>
			<key>game/fairy_512_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,247},{72,94}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,97}</string>
			</dict>
			<key>game/fairy_512_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,495},{82,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,95}</string>
			</dict>
			<key>game/fairy_512_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,356},{82,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,96}</string>
			</dict>
			<key>game/fairy_64_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,620},{65,68}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>game/fairy_64_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,690},{65,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,70}</string>
			</dict>
			<key>game/fairy_64_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,909},{67,66}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,69}</string>
			</dict>
			<key>game/fairy_64_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,840},{66,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,70}</string>
			</dict>
			<key>game/fairy_8_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,56},{50,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,61}</string>
			</dict>
			<key>game/fairy_8_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,65},{54,54}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>game/fairy_8_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,1},{47,62}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,66}</string>
			</dict>
			<key>game/fairy_8_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,116},{50,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,59}</string>
			</dict>
			<key>game/fairy_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,200},{102,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,46}</string>
			</dict>
			<key>game/hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,495},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,79}</string>
			</dict>
			<key>game/hi-white.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,451},{88,42}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,50}</string>
			</dict>
			<key>game/hiscore.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,954},{113,62}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,62}</string>
			</dict>
			<key>game/more.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,789},{101,57}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,57}</string>
			</dict>
			<key>game/music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1},{55,53}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,53}</string>
			</dict>
			<key>game/music_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,121},{55,53}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,53}</string>
			</dict>
			<key>game/play.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,977},{87,46}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,46}</string>
			</dict>
			<key>game/results.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,589},{100,23}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,47}</string>
			</dict>
			<key>game/retry.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,195},{100,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,43}</string>
			</dict>
			<key>game/score_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,974},{183,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,46}</string>
			</dict>
			<key>game/tutorial.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,949},{146,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game.png</string>
			<key>realTextureFileName</key>
			<string>game.png</string>
			<key>size</key>
			<string>{672,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>672</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>